body {
    background-color: #E8F5E9;
    font-family: 'Open Sans', sans-serif;
}

.bg-primary-plant {
    background-color: #345C3E !important;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
    color: white;
}


.hero-section {
    background: linear-gradient(90deg, #345C3E, #5A8F7B);
}

.card {
    border: 1px solid #A8C6A0;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box--shadow 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-family: 'Vollkorn', serif;
    font-size: 1.75rem;
    font-weight: bold;
    color: #345C3E;
    margin-bottom: 1.5rem;
}

h1, .navbar-brand {
    font-family: 'Vollkorn', serif;
}

.avatar-video {
    width: 100%;
    flex-grow: 1;
    object-fit: cover;
    border-radius: 10px;
}

.iframe-container {
    position: relative;
    width: 100%;
    flex-grow: 1;
}

.chatbot-iframe {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    margin-top: 4rem;
}

#scan form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scan input[type="file"] {
    border: 2px dashed #345C3E;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

#scan input[type="submit"] {
    background-color: #345C3E;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#scan input[type="submit"]:hover {
    background-color: #5A8F7B;
}

.plant-title-2 {
    color: #5A8F7B; /* Lighter shade */
}

.plant-title-3 {
    color: #284730; /* Darker shade */
}

#plant-examples .card-title {
    font-family: 'Dancing Script', cursive;
    font-size: 2.25rem;
    font-weight: normal;
}

.card-img-container {
    position: relative;
    overflow: hidden;
}

.icon-zoom {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s ease;
    opacity: 1;
    animation: pulse 2s infinite;
}

.icon-zoom:hover {
    background-color: rgba(52, 92, 62, 0.9); /* #345C3E */
    color: white;
    animation-play-state: paused;
}

.icon-zoom i {
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.icon-zoom:hover i {
    transform: scale(1.2);
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 92, 62, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(52, 92, 62, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 92, 62, 0);
    }
}

.icon-zoom .zoom-legend {
    display: none;
    position: absolute;
    right: 110%;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    pointer-events: none; /* So it doesn't interfere with the icon hover */
}

.icon-zoom:hover .zoom-legend {
    display: inline-block;
}

.section-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #345C3E;
}